.CreateComment-container
    div.form-create-cmmnt
        input#createPost.cmmnt(name="postComment", cols="30", rows="4" maxLength=90 placeholder="Comment here")
        button.btn-cmmnt#cmmnt-btn(data-postid=post.id) Comment 