footer.footer
    .footer__logo
        img(src='/img/logoTemple.png' alt='Foodtemple logo')
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Careers
        li: a(href='#') Contact
    p.footer_copyright &copy; by Gaurav Bhardwaj.All rights reserved so donot claim its yours.
