extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Log into your account
            img.postBook-logo(src=`/img/OnlypostLogo.png`, alt="avatar" width="250px" height="250px")
            form.form_login
                .form__group
                    label.form__label(for='username') Email
                    input#username.form__input(type='username', placeholder='tony starc', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green#btn-login Login
                    a#forgotPassword(href='/api/v1/forgot-password') forgot password?
                