extends baseEmail

block Content
    p Hi #{firstname},
    p Forgot your password ? Copy the token and paste it in your token at reset password.
    p Your token: #{url}
    table.btn.btn-primary(role="presentation", border="0", cellpadding="0", cellspacing="0")
        tbody
            tr
                td(align="left")
                    table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                        tbody
                            tr
                                td
                                    a() Don't share this token with anyone
    p If you didn't forgot yor password,please ignore this email!
